<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset ="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mission to Mars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body>
    <div class="container-fluid">
        <div class="jumbotron text-center">
            <h1>Mission to Mars</h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>  
        </div>
        
        <div class="row">
            <div class="col-lg-8">
                <h3>Latest Mars News</h3>
                <h4>{{mars_info.news_title}}</h4>
                <p>{{mars_info.news_p}}</p>
                <br>
                <h3 class="heading">Featured Mars Image</h3>
                <a href="{{mars_info.featured_image}}">
                    <img src="{{mars_info.featured_image}}" width=900px>
                </a>
            </div>
            <br>
            <div class="col-lg-4">
                <div class="card-body">
                    <h3 class="card-title">Current Mars Weather</h3>
                    <p class="card=text">
                        {{mars_info.mars_weather}}
                    </p>
                </div>
                
            </div>
            <br>
            <br>
            <br>
            <br>
            <h3 class="heading">Mars Facts</h3>
            {{mars_info.mars_facts}}

        </div>
        <br>
        <h3 class="heading text-center">Mars Hemispheres</h3>
            <div class="row">
                <div class="col-lg-3">
                    <div class="card" style="width: 40 rem;">
                    <a href="{{mars_info.hemisphere_image[0]}}">
                        <img class="card-img-top" src="{{mars_info.hemisphere_image[0]}}" width=400px >
                    </a>
                    </div> 
                </div>
            </div>
            <div class="col-lg-3">
                    <div class="card" style="width: 40 rem;">
                    <a href="{{mars_info.hemisphere_image[1]}}">
                        <img class="card-img-top" src="{{mars_info.hemisphere_image[1]}}" width=400px >
                    </a>
                    </div> 
                </div>




    </div>





</body>



</html>


